body{
    background-color: orange;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: white;
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.container{
    margin: 20px;
    padding: 20px;
    width: 70%;
    background-color: white;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
}

input, textarea, select{
    width: 100%;
    padding: 10px 7px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

small{
    height: 15px;
    margin: 7px 0;
}

.valido{
    color: green;
}

.invalido{
    color: red;
}

input[type="checkbox"]{
    margin: 0;
}

label{
    margin: 8px 0;
}


.camposJuntos{
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    margin-bottom: 10px;
}


footer{
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: #333;
    color: white;
}

button{
    padding: 10px 15px;
    margin: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;

}

button:hover{
    background-color: darkorange;
    transition: 500ms;
}