body{
    background-image: url(imagen.png);
    background-color: orange;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}


h1{
    color: white;
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.container, #datosPrevisualizados{
    margin: 20px;
    padding: 20px;
    width: 90%;
    
    max-width: 700px;
    min-width: 0;

    background-color: white;
    border-radius: 10px;

    box-sizing: border-box;
}

form{
    display: flex;
    flex-direction: column;
}

input, textarea, select{
    width: 100%;
    padding: 10px 7px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

small{
    height: 15px;
    margin: 7px 0;
}

.valido{
    color: green;
}

.invalido{
    color: red;
}

input[type="checkbox"]{
    margin: 0;
}

label{
    margin: 8px 0;
}


.camposJuntos{
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

footer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 15px;
    margin: 0;
    background-color: #333;
    color: white;
}
footer > h4 {
    font-size: 15px;
    padding-bottom: 5px;
    margin: 0;
}
footer > p{
    font-size: 13px !important;
    padding: 0px;
    margin: 0;
}

button{
    height: 40px;
    padding: 10px 15px;
    margin: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;

}

button:hover{
    background-color: rgb(244, 114, 28);
    transition: 500ms;
}

#divBotones{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#enviar{
    grid-column: 1 / -1;
}

@media (max-width: 800px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
    }
}