body{
    background-color: orange;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

h1{
    color: white;
    text-align: center;
}

main{
    margin: 20px;
    padding: 20px;
    width: 70%;
    background-color: white;
    border-radius: 10px;
}

.camposJuntos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

input, textarea, select{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

footer{
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: #333;
    color: white;
}

button{
    padding: 10px 15px;
    margin: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
        transition: 500ms;

}

button:hover{
    background-color: darkorange;
    transition: 500ms;
}